.center-fit{
	position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;

    width: 100%;
    height: 100%;
}

body {
	color: black;
}

#signIn {
	color: 
}

.aboutUsContainer {
	text-align: center;
	color: black;
	marin: 20px;
	background-color: #ffffff;
	opacity: 0.85;
}

.recentContainer {
  margin: 20px;
  background-color: #ffffff;
  opacity: 0.85;
}

h3 {
	text-align: center;
}

#password {
	float: right;
	margin-right: 5px;
}

#username {
	float: right;
	margin-right: 5px;
}

#login {
	float: right;
}


#errorUsername {
	color: red;
}
