@charset "UTF-8";

p {
    color: red;
}

.recentRecipes{color: blue;}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat';
  color: light-red;
}

#recentMeetups {
	font-weight: 400;
	font-family: sans-serif;
	color: light-blue;
}

.recentRecipes{
	font-weight: 400;
	font-family: sans-serif;
	color: light-blue;
}

.aboutUs {
	font-weight: 700;
  	font-family: 'Montserrat';
  	color: light-red;
}